<!doctype html>
<html lang="en">
<header>
  <title>
    Mafiservo
  </title>
  <meta charset="utf-8">
</header>
<body>
  <h1>Mafiservo</h1>
  <form action="/mafia_register" method="POST">
    <input autocomplete="off" type="number" name="player" placeholder="My player number">
    <button type="submit">Register me as mafia</button> ({{mafia}})
  </form><br>
  <form action="/mafia_kill" method="POST">
    <input autocomplete="off" type="number" name="player" placeholder="Player to kill">
    <button type="submit">Mafia kill</button>
  </form><br>
  <form action="/sheriff_check" method="POST">
    <input autocomplete="off" type="number"  name="player" placeholder="Player to check">
    <button type="submit">Sheriff check</button>
  </form><br>
  {% if doctor %}
  <form action="/doctor_heal" method="POST">
    <input autocomplete="off" type="number" name="player" placeholder="Player to heal">
    <button type="submit">Doctor heal</button>
  </form><br>
  {% endif %}
  <a href="/last_kill">Show last night kill</a>

</body>
</html>
