<!doctype html>
<html lang="en">
<header>
  <title>
    Mafiservo
  </title>
  <meta charset="utf-8">
</header>
<body>
  <h1>Mafiservo</h1>
  <h2><em>A local Mafia Server</em></h2>
      <form action="/join.html" method="POST">
        <input type="number" placeholder="Game number">
        <button class="btn btn-default text-center" type="submit">Join existing game</button>
        {% if notfound %}
        <div class="alert alert-warning">No such game found</div>
        {% endif %}
        {% if bad_id %}
        <div class="alert alert-warning">Erorr joining to the game. Old cookie cleared, try again to join as a new player.</div>
        {% endif %}
      </form>
      Or you can <a href="new.html">Start a new game ...</a>
</body>
</html>
